### 1. Say "Hello,World!" with Python

In [4]:
s = "Hello, World!"
print(s)

Hello, World!

### 2. Python IF-ELSE

In [6]:
'''Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird'''

n = int(input("Enter a number"))
if n%2 != 0:
  print("Weird")
elif n%2 == 0 and 2 <= n <= 5:
  print("Not Weird")
elif n%2 == 0 and 6 <= n <= 20:
  print("Weird")
elif n%2 == 0 and n > 20:
  print("Not Weird")

Enter a number3
Weird

### 3. Arithmetic Operations

In [7]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print(a+b)
print(a-b)
print(a*b)

Enter a number3
Enter a number4
7
-1
12

### 4. Python : Division

In [8]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print(a//b)
print(a/b)

Enter a number2
Enter a number3
0.6666666666666666

### 5. Loops

In [11]:
n = int(input("Enter  a number"))
for i in range(n):
  print(i**2)

Enter  a number6
0
1
4
9
16
25

### 6. Function

In [15]:
def is_leapyear(year):
  is_leap = False

  if (year%4 == 0 and year%100 != 0) or (year%400 == 0):
    is_leap = True
  else:
    is_leap = False

  return is_leap

result = is_leapyear(2012)
print(result)

True

### 7. Print Function

In [17]:
n = int(input("Enter a number"))
for i in range(1,n+1):
  print(i,end="")

Enter a number5
12345